<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../js/recipeSearch.js" type="module"></script>
  </head>
  <body>
    <header></header>
    <main>
      <h1>Search Recipes</h1>
      <h2>Diet:</h2>
      <div class="diet">
        <input type="checkbox" name="GlutenFree" id="gluten free"><label for="GlutenFree">Gluten-Free</label>
        <input type="checkbox" name="Ketogenic" id="ketogenic"><label for="Ketogenic">Ketogenic</label>
        <input type="checkbox" name="Vegetarian" id="vegetarian"><label for="Vegetarian">Vegetarian</label>
        <input type="checkbox" name="Vegan" id="vegan"><label for="Vegan">Vegan</label>
        <input type="checkbox" name="Paleo" id="paleo"><label for="Paleo">Paleo</label>
        <input type="checkbox" name="Whole30" id="whole30"><label for="Whole30">Whole30</label>
      </div>
      <h2>Ingredients:</h2>
      <p>Please enter ingredients separated by a comma & no spaces.</p>
      <p>e.g. flour,milk,butter,sugar</p>
      <input type="text" id="ingredients-input" />
      <button id="ingredients-input-button" class="button">Find Recipes</button>
      <div class="searched-recipe-list"></div>
    </main>
    <footer></footer>
  </body>
</html>
