<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../js/recipeSearch.js" type="module"></script>
  </head>
  <body>
    <header></header>
    <main>
      <h1>Find Recipes By Ingredient</h1>
      <p>Please enter ingredients separated by a comma & no spaces.</p>
      <p>e.g. flour,milk,butter,sugar</p>
      <input type="text" id="ingredients-input" />
      <button id="ingredients-input-button">Find Recipes</button>
      <div class="searched-recipe-list"></div>
    </main>
    <footer></footer>
  </body>
</html>
