<header>
  <div class="logo">
    <a href="../../index.html">
      <svg
        id="exXWZLvNu9z1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 300 300"
        shape-rendering="geometricPrecision"
        text-rendering="geometricPrecision"
      >
        <ellipse
          rx="123.303441"
          ry="38.296598"
          transform="translate(148.586376 131.056741)"
          fill="none"
          stroke="#283149"
          stroke-width="5"
        />
        <ellipse
          rx="123.303441"
          ry="38.296598"
          transform="matrix(.686993 0 0 0.686992 150 210.551195)"
          fill="none"
          stroke="#283149"
          stroke-width="6"
        />
        <path
          d="M270.14906,132.21725c0,12.14642-28.39681,77.13793-37.71635,86.45747"
          transform="matrix(1.09226-.010221 0.009106 0.973112-23.781749 6.285738)"
          fill="none"
          stroke="#283149"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M270.14906,132.21725c0,12.14642-28.39681,77.13793-37.71635,86.45747"
          transform="matrix(-1.152253-.011027-.009313 0.97311 337.83632 7.488707)"
          fill="none"
          stroke="#283149"
          stroke-width="5"
          stroke-linecap="round"
        />
        <ellipse
          rx="40.037352"
          ry="37.716346"
          transform="translate(87.091624 112.283654)"
          fill="#84dcc6"
          stroke-width="0"
        />
        <ellipse
          rx="30"
          ry="30"
          transform="matrix(.610494 0 0 0.610494 211.206891 137.048822)"
          fill="#84dcc6"
          stroke-width="0"
        />
        <ellipse
          rx="30"
          ry="30"
          transform="translate(168.508898 92.760143)"
          fill="#84dcc6"
          stroke-width="0"
        />
        <path
          d="M275.95158,95.6614c0-6.13734-4.05506-33.95477-15.08654-17.40754-14.56831,21.85247-4.92037,113.94395-36.55584,121.85281-5.47632,1.36908-12.90171.58025-18.56805.58025-4.94519,0-10.16181.4477-15.08654,0-33.764-3.06946,41.19786-43.45871,41.19786-4.06176"
          transform="translate(0 0.000001)"
          fill="none"
          stroke="#283149"
          stroke-width="5"
        />
      </svg>
      Flavor<span class="highlight">Fest</span></a
    >
  </div>
  <div>
    <a href="../views/recipeSearch.html"> Search Recipes </a>
    <a href="../views/collections.html"> Personal Collections </a>
  </div>
</header>
