@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

:root {
  --font-body: "Montserrat", sans-serif;
  --font-headline: "Oswald", "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #283149;
  --secondary-color: #84dcc6;
  --tertiary-color: #ff6700;
  --light-grey: #cbcbcb;
  --dark-grey: #4f4f4faa;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
  padding: 1rem;
}
img {
  max-width: 100%;
  object-fit: contain;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--tertiary-color);
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0.2;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo svg {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* utility classes */
.highlight {
  color: var(--secondary-color);
}

button {
  padding: 0.57rem 2rem;
  margin: 1rem;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: white;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
  display: inline;
}

/* MAIN PAGE */
.mainpg {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* RECIPE SEARCH */

/* COLLECTIONS */

/* INDIVIDUAL RECIPE */
.individual-recipe {
  height: 80vh;
  width: 80vh;
  margin: 0 auto;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

@media screen and (min-width: 500px) {
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
