@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

:root {
  --font-body: "Montserrat", sans-serif;
  --font-headline: "Oswald", "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #283149;
  --secondary-color: #84dcc6;
  --tertiary-color: #ff6700;
  --light-grey: #cbcbcb;
  --dark-grey: #4f4f4f4f;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: var(--tertiary-color);
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo svg {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* utility classes */
.highlight {
  color: var(--secondary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}


@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
